/.target
/.project
/.settings
/.classpath
/.idea_modules
/.idea
bin/*
events/*
logs/*
project/project/target/*
project/target/*
target/*
*/*/target/*
.cache
.gitignore.swp
modules/*/.classpath
modules/*/.project
modules/*/target/*
application.log
*.iml
